<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Dojos and Ninjas</title>

</head>

<body>


    <div class="container">
        <h2>{{manyninjas.name}} Ninjas </h2>

        <table>

            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Age </th>
            </tr>
            <!-- Dojo is one thing inside the list of manyninjas -->
            {% for dojo in manyninjas.ninjas %}
            <tr>
                <td>{{dojo.first_name}}</td>
                <td>{{dojo.last_name}}</td>
                <td>{{dojo.age}}</td>
            </tr>

            {% endfor %}
        </table>

        <a class="btn btn-info mt-2" href="/ninja">Add Ninja</a>

    </div>

</body>