<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Show User</title>
</head>

<body>
    
    <h1>Users {{user.ID}} </h1>

    <div class="container" style="border: 3px solid black;">
        <p>Full Name: {{user.first_name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Created On: {{user.created_at}}</p>
        <p>Last Updated On: {{user.updated_at}}</p>
    </div>

    <a href="/users/{{user.ID}}/edit/">Edit</a> 
    <a href="/users/{{user.ID}}/delete/">Delete</a> 
</body>

</html>