<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>


    <center>
        <h1> Here are our Users!! </h1>
    </center>


    <table class="table">
        <thead>
            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Email </th>
                <th> Created At </th>
                <th> Updated_at </th>
                <th> Action </th>
            </tr>
        </thead>


        <tbody>
            {% for users in users %}
            <tr>
                <td>{{users.first_name}}</td>
                <td>{{users.last_name}}</td>
                <td>{{users.email}}</td>
                <td>{{users.created_at}}</td>
                <td>{{users.updated_at}}</td>
                <td>
                    <a href="/users/{{users.ID}}">Show</a>
                    <a href="/users/{{users.ID}}/edit/">Edit</a> 
                    <a href="/users/{{users.ID}}/delete/">Delete</a> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="users/new">Add Users</a>

</body>

</html>